__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.env
.venv/
venv/
*.db
*.sqlite3
*.zip
feeds/
core/__pycache__/
transito_ctba/__pycache__/
app/__pycache__/
app/routers/__pycache__/
.DS_Store
Thumbs.db
